label{
     margin:auto ;
}
.label{
    display: inline;
    color: antiquewhite;
}
input{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
table{
    border-radius: 15px;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}
td,tr,th{
    border-width:1px;
    border-color:blueviolet ;
    text-align: center;
    border-collapse: collapse;
    border-style:solid;
    background-color: pink;
}
th{
    background-color: palevioletred;
}
.sinBorde{
    background-color: lightcoral;
    border-collapse: initial;
    width: 32px;
}
#del:hover{cursor: url(imgs/eliminar.png) 0 0, pointer;}
#edit{
    cursor: url(imgs/editar.png) 0 0, pointer;
}
.desaparecido{
    display: none;
}
#formulario{
    background-color: antiquewhite;
    width: 30%;
    margin:auto;
    padding-left: 10%;
}
body{background-color: aliceblue}

h1, #footer{
    background-color: black;
    color: red;
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}
input{
    width: 80%
}